flask
werkzeug
setuptools
sqlalchemy
flask-sqlalchemy
flask-jwt-extended
sqlalchemy-utils
nba-api
python-dotenv
basketball_reference_web_scraper
flask-cors
flask-executor
flask-apscheduler
flask-socketio
gunicorn==18.0
pandas
matplotlib
mysqlclient
psycopg2
eventlet
Flask-Caching